<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/public/css/output.css" rel="stylesheet">

</head>
<body>
    <!-- Navbar -->
    <nav>
        <a href="/">Countries</a>
        <a href="/about">About</a>
        <div>
            <span>Region</span>
            <!-- Aquí puedes agregar enlaces a las regiones -->
        </div>
    </nav>
    <!-- Contenido de la página -->
    <div class="container mx-auto">
        <!-- Tu contenido aquí, como tarjetas de países -->
    </div>
    <div class="bg-blue-500 text-white p-4">
        ¡Hola, Tailwind está funcionando!
      </div>
      
</body>
</html>
